.navigation {
  & nav {
    margin-block: 1rem;
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    outline: 1px dashed #aaaaaa;
    background-color: #cccccc;
  }

  & .spacer {
    flex-grow: 1;
  }

  & button.menu-button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    margin-inline: 0;
    height: 100%;
    outline: 1px dashed #999999;
    background-color: #bbbbbb;

    & span {
      outline: 1px dashed #888888;
      background-color: #aaaaaa;
    }
    & span.open { display: inline-block; }
    & span.closed { display: none; }
  }

  & ul {
    flex-grow: 2;
    margin-inline-start: auto;
    margin-inline-end: 0;
    margin-block: 0;
    padding-inline: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    outline: 1px dashed #999999;
    background-color: #bbbbbb;

    & li {
      outline: 1px dashed #888888;
      background-color: #aaaaaa;
      list-style-type: none;
      flex-grow: 1;
      justify-content: center;

      &.open { display: flex; }
      &.closed { display: none; }

      &:hover {
        outline-style: solid;
        outline-width: 0px;
      }
      &:active {
        outline-style: dotted;
        outline-width: 0.5px;
      }
    }
    &.closed { display: none; }
  }
}